* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  display: flex;
  max-width: unset;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

aside {
  width: 30%;
  max-width: 350px;
  display: flex;
  flex-flow: column;
}

header {
  height: 180px;
}

h1 {
  text-align: center;
}

header>div {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

header .buttons {
  width: 280px;
  display: flex;
}

header label[hidden] {
  display: unset !important;
  visibility: hidden;
}

#pauseBtn {
  width: 125px;
}

#pauseBtn.paused>:first-child, #pauseBtn:not(.paused)>:last-child {
  display: none;
}

#gameBoard {
  flex-grow: 1;
  background-color: cornsilk;
  position: relative;
}

.block {
  position: absolute;
}

#menuBar {
  padding-top: 10px;
  height: 180px;
  justify-content: space-around;
  align-items: center;
}

#menuBar button {
  padding: 5px 30px;
}

#resultList {
  flex-grow: 1;
  padding: 20px;
}

#resultList>li {
  display: flex;
  justify-content: space-between;
}

dialog {
  width: 500px;
  height: 300px;
  text-align: center;
  top: 30%;
  border: none;
}

dialog::backdrop {
  background-color: #4444;
}

dialog>div {
  margin-top: 20px;
}

dialog>.prompt>label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog>.prompt>label>input {
  margin-left: 30px;
}
